
<shared-nav-bar></shared-nav-bar>
<h1>login works!</h1>

<form (ngSubmit)="login1()">
  <div>

    <label for="email">Ingrese email</label>
    <input type="text" [(ngModel)]="user.email" name="email" placeholder="example@gmail.com" required="true">

    <br>

    <label for="password">Ingrese password</label>
    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Ingrese password" required="true">

    <br>

    <button type="submit">Loguearme</button>

    <br>

    <span *ngIf="!isLogin">No esta logueado</span>

  </div>
</form>



<shared-footer></shared-footer>
